$break-small:768px;
$break-medium:768px;
$break-large:992px;

//Backgrounds
$default-background-color:seashell;

//Fonts
$default-font:'Hind';
$default-font-color:#222;
$header-font: 'Montserrat';
$header-font-color:#545e6f;
$code-font:'Inconsolata';